/* di nav*/
.container{
	margin-top:4px;
	background-image:url("../img/pu.jpg");
	background-size:cover;
	width:100%;
	height:80vh;
}

/*section learning*/
.contain{
	width:100%;
	height:520px;
	background:white;
	
}
.containt {
	background:white;
}
.selesih {
	background:white;
}
.texts{
	width:200px;
	height:50px;
	margin:0 auto;
	border-bottom:1px solid;
}
.texts h2 {
	padding:14px 0 0 18px;
	font-size:26px;	
}

.webb{
	float:left;
	width:34%;
	height:100%;
	background:white;
	margin-left:14%;
	border-radius:5px;
	 background: #B3E5FC; 
   background: linear-gradient(to bottom right, #dd99ff,#039BE5);
}
.gameexpert{
	float:left;
	width:34%;
	height:100%;
	background:white;
	margin-left:4%;
	border-radius:5px;
	 background: #B3E5FC; 
    background: linear-gradient(to bottom right, #d580ff,#039BE5);
}
.tulisan {
	width:100%;
	height:14%;
	background:#0091EA;
	border-radius: 5px 5px 0px 0px;
	background:rgba(255, 255, 255,0.1);
	
}
.tulisan h2 {
	color:white;
	font-size:140%;
	text-align:center;
	padding-top:1%;
	
}
.isian {
	width:80%;
	height:86%;
	margin-left:10%;
	margin-right:10%;
	margin-top:10%;
	height: 200px;
   
}
.isian p {
	font-size:16px;
	text-align: justify;
	color:white;
	
}
/*section testimoni*/

.textimond {
	width:140px;
	height:50px;
	margin: 0 auto;
	border-bottom: 1px solid;
}
.textimond h2 {
	padding : 14px 0 10px 0;
	font-size:26px;
}
.delapan {
	background:white;
}
.sembilan {
	background:white;
}
.sepuluh {
	background:white;
}
.sepuluhnext {
	background:white;
}
.d {
	width:100%;
	height:10%;
	background:#29B6F6;
	border-radius: 10px 10px 0px 0px;
}
/*responsife */

@media screen and (max-width: 1100px) {
	/*section learning*/

.contain{
	width:100%;
	height:570px;
	background:white;
	
}

.texts h2 {
	font-size:26px;	
}
.conten {
	width:100%;
	height:60%;
	margin-top:40px;
	
}
.texts{
	width:200px;
	height:50px;
	margin:0 auto;
	border-bottom:1px solid;
}

.webb {
	float:left;
	width:34%;
	height:100%;
	background:white;
	margin-left:14%;
	border-radius:5px;
	 background: #B3E5FC;
    background: linear-gradient(to bottom right, #B3E5FC, #039BE5);
}
.textimond {
	width:140px;
	height:50px;
	margin: 0 auto;
	border-bottom: 1px solid;
}
.textimond h2 {
	padding : 14px 0 10px 0;
	font-size:26px;
}
.gameexpert{
	float:left;
	width:34%;
	height:100%;
	background:white;
	margin-left:4%;
	border-radius:5px;
	 background: #B3E5FC; 
    background: linear-gradient(to bottom right, #B3E5FC,#039BE5);
}

.isian {
	width:80%;
	height:86%;
	margin-left:10%;
	margin-right:10%;
	margin-top:10%;
	height: 200px;
   
}
.isian p {
	font-size:16px;
	text-align: justify;
	color:white;
	
}
}
@media screen and (max-width: 780px) {
	/*section learning*/

.contain{
	width:100%;
	height:570px;
	background:white;
	
}

.texts h2 {
	font-size:26px;	
}
.conten {
	width:100%;
	height:60%;
	margin-top:40px;
	
}
.texts{
	width:200px;
	height:50px;
	margin:0 auto;
	border-bottom:1px solid;
}
.webb {
	float:left;
	width:40%;
	height:100%;
	background:white;
	margin-left:8%;
	border-radius:5px;
	 background: #B3E5FC;
    background: linear-gradient(to bottom right, #B3E5FC, #039BE5);
}
.gameexpert{
	float:left;
	width:40%;
	height:100%;
	background:white;
	margin-left:4%;
	border-radius:5px;
	 background: #B3E5FC; 
    background: linear-gradient(to bottom right, #B3E5FC,#039BE5);
}

.isian {
	width:80%;
	height:86%;
	margin-left:10%;
	margin-right:10%;
	margin-top:10%;
	height: 200px;
   
}
.isian p {
	font-size:16px;
	text-align: justify;
	color:white;
	
}}
@media screen and (max-width: 700px) {
	/*section learning*/

.contain{
	width:100%;
	height:900px;
	background:white;
	
}
.conten {
	width:100%;
	height:36%;
	margin-top:40px;
	
}
.webb {
	width:90%;
	margin-left:5%;
}
.gameexpert{
	width:90%;
	margin-top:4%;
	margin-left:5%;
}
}