.ou {
	width:100%;
	height:100%;
}
.ou h1 {
	font-size: 40px;
	font-family:Calibri Light;
	color:#37474F;
	padding-top:40px;
}
.ou h2 {
	font-size:30px;
	font-family : calibri light;
	color:#37474f;
	padding-left:140px;
	padding-top:60px;
}
.ou p {
	font-size:18px;
	font-family: calibri light;
	color: #546E7A;
	padding-left:152px;
	padding-top:6px;
}

table {
	width:78%;
	height:20%;
	margin-top:30px;
}
.in {
	background:#EEEEEE;
	width:80%;
	height:80%;
	margin: 0 auto;
	margin-top:2%;
	
}
.kami i {
	font-size:20px;
	color:#37474F;
	padding-left:10%;
	padding-top:3%;
	
}
.lagu i {
	font-size:20px;
	color:#37474F;
	padding-right:10%;
	padding-top:3%;
	
}
.lagu a {
	font-size:20px;
	color:#424242;
	padding-left:1%;
}
.kami a {
	font-size:20px;
	color:#424242;
	padding-left:1%;
}
.kami {
	width:16%;
	height:100%;
	background:#EEEEEE;
	float:right;
	border-radius:6px;
	border:2px solid #BDBDBD;
	margin-right:6%;
	
}
.lagu {
	width:16%;
	height:100%;
	background:#EEEEEE;
	float:left;
	border-radius:6px;
	border:2px solid #BDBDBD;
	margin-left:6%;
}