body{
	background-color: #ECF0F1 !important;
	margin: auto;
	font-family: 'Lato', sans-serif;
	margin-top: 120px !important;
}

.navar-brand{
	widows: 200px;
}

nav{
	color: white;
	display: block;
	position: fixed;
	background-color: #242628;
	width: 100%;
}
.navbar-brand{
	margin-left: 10px;
	color: white;
	font-size: 12pt;
}

.heading{
	font-weight: bold;
	font-size: 28pt;
}

nav ul li {
	margin-left: 20px;
	display: block;
	float: left;
	display: inline-block;
}

nav ul li a {
	padding: 0px 10px;
	color: white;
	list-style-type: none;
	text-decoration: none;
}

nav ul li a:hover{
	color: grey;
	text-decoration: none;
}

.navbar-brand:hover{
	color: white;
}

.navbar {
    margin-bottom: 70px !important;

}

    .othertop{margin-top:10px;}