/*section di bawah navigation */
.container{
	margin-top:4px;
	background-image:url("../img/jpeg.jpg");
	background-size:cover;
	width:100%;
	height:80vh;
}
/*section events*/

.contain{
	width:100%;
	height:240%;
	background:white;
}
.selesih {
	background:white;
}

.cimahi p {
	padding-top:2px;
	color:white;
	text-align:center;
}
.cimahi{
	width:10%;
	height:1.9%;
	float:left;
	background:white;
	margin-left:8px;
	margin-top:-1px;
}
.texts{
	width:50%;
	height:2%;
	float:left;
	margin-left:16%;
	border:none;
}
.texts h2 {
	padding:14px 0 0 18px;
	font-size:26px;	
}

.conten {
	width:100%;
	height:100%;
	margin-top:40px;
	
}
.webPemula {
	float:left;
	width:80%;
	height:20%;
	background:#EEEEEE;
	margin-left:10%;
	border-radius:5px;
	margin-top:2%;
}
.bagi {
	width:100%;
	height:84%;
}
.class {
	width:49.8%;
	height:100%;
	float:left;
}
.cl {
	width:49.8%;
	height:100%;
	float:left;
}
.cla {
	width:0.4%;
	height:90%;
	float:left;
	margin-top:1%;
	background:#37474F;
}
.bagian li {
	width:100%;
	height:100%;
	text-align:center;
	padding-top:2%;
	list-style-type:none;
}
.bagian li a {
	color:white;
	font-size:20px;
	line-height:100%;
}
.bagian {
	width:18%;
	height:10%;
	background:#37474F;
	margin: 0 auto;
}
.danusa {
	height:14%;
	width:90%;
	background:#37474F;
	margin: 0 auto;
	margin-top:2%;
	
}
.danu {
	height:86%;
	width:100%;
}
.danusa p {
	font-size:20px;
	color:white;
	text-align:center;
	padding-top:4px;
}
.texi p {
	font-size:16px;
	text-align : justify;
}
.texi {
	width:45%;
	height:90%;
	float:left;
	margin-right:5%;
	margin-top:2%;
}
.imga {
	width:42%;
	height:90%;
	float:left;
	margin-left:5%;
	margin-right:3%;
	margin-top:2%;
}
.texu {
	width:92%;
	height:92%;
	margin-left:6%;
	margin-top:8px;
}
.imga img {
	width:100%;
	height:100%;
}
.texu p {
	font-size:18px;
	color:#424242;
	padding-top:8px;
}
.texu p i {
	padding-right:8px;
	color:#37474F;
}

/* paginatio */
.pagination {
    display: inline-block;
	margin-top:30px;
	
}

.pagination a {
    color: black;
    float: left;
    padding: 10px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}
@media screen and (max-width:760px){
.webPemula {
	float:left;
	width:90%;
	height:20%;
	background:#EEEEEE;
	margin-left:5%;
	border-radius:5px;
	margin-top:2%;
}
.texi p {
	font-size:14px;
	text-align : justify;
}
.danusa p {
	font-size:16px;
	color:white;
	text-align:center;
	padding-top:4px;
}
.texu p {
	font-size:14px;
	color:#424242;
	padding-top:8px;
}
}
