*{
	padding:0;
	margin:0;
	text-decoration:none;
	color:black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: EEEEEE;
	height:60px;
	width:100%;
	box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.41);
	display:inline-block;
}

ul li {
   float:left;
}
.hover li:hover{
	background:white;
}

li a, .dropbtn {
    color:#9E9E9E;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
	line-height:60px;
}
.toggle {
width:100%;
padding:10px 20px;
background:#EEEEEE;
text-align: right;
box-sizing:border-box;
color:white;
font-size:30px;
display:none;
}

.dropdown:hover .dropbtn {
    background-color: white;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: EEEEEE;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #9E9E9E;
    padding: 0px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color:white}

.dropdown:hover .dropdown-content {
    display: block;
}
.logo {
	
	float:left;
	width:120px;
	height:100%;
}
.logo img {
	display:block;
	width:auto;
	height:90%;
	margin: 5px 0 0 20px; 
}
li a i {
	color:#37474F;
	padding-right:8px;

}
.login{
	display:inline-block;
	float:right;
}
.login li a{
	background:#37474F;
	margin-right:10px;
	border-radius:8px;
			
}
.logi {
	
	float:left;
	width:80px;
	height:6%;
}
.logi img {
	display:block;
	width:auto;
	height:90%;
}
/*section di bawah navigation */
.container{
	margin-top:4px;
	background-image:url("../img/h.jpg");
	background-size:cover;
	width:100%;
	height:80vh;
}
.content {
	width:100%;
	height:100%;
	background:rgba(26, 26, 26,0.4);
}
.text h1  {
	text-align:center;
	padding-top:150px;
	color:white;
	font-size:36px;
	
}
.text p  {
	text-align:center;
	padding-top:40px;
	font-size:24px;
	color:white;
}

.foote {
	width:100%;
	height:280px;
	background:#37474F;
}
.latar {
	width:100%;
	height:250px;
}
.latarr {
	width:100%;
	height:30px;
	background:#263238;
}
.logoo {
	height:100%;
	width:20%;
	float:left;
	margin-left:6%;
}
.logoa {
	height:100%;
	width:24%;
	float:left;
	margin-left:18%;
}
.logon {
	height:100%;
	width:24%;
	float:left;
	margin-left:4%;
}
.deskripsi h1 {
	padding-top:10%;
	font-size:40px;
	color:white;
}
.deskripsii p {
	font-size:14px;
	padding-left:4px;
	padding-top:4px;
	color:#EEEEEE;
	text-align:justify;
}
.deskripsi {
	width:100%;
	height:40%;
}
.deskripsii{
	width:100%;
	height:60%;
}
.logoa a i {
	color: white;
	padding-top:60px;
	padding-right:6px;
}
.logoa a {
	color:white;
}
.samp{
	width:200px;
	height:30px;
}
.clas {
	width:100%;
	height:20%;
	margin-top:40px;
	margin-left: 4%; 
}
.clak {
	width:84%;
	height:10%;
	margin-top:30%;
	
}
.bunder {
	float:left;
	border-radius:50%;
	width:9%;
	height:66%;
	background:white;
	margin-left:4%;
}
.bunder i {
	color:#37474F;
	font-size:20px;
	padding-top:28%;
	padding-left:7px;
}
.bund {
	float:left;
	border-radius:50%;
	width:9%;
	height:66%;
	background:white;
	margin-left:2%;
}
.bund i {
	color:#37474F;
	font-size:20px;
	padding-top:28%;
	padding-left:9px;
}
.clak img {
	width:20%;
	height:90%;
}

