.container{
	margin-top:4px;
	background-image:url("../img/design.jpg");
	background-size:cover;
	width:100%;
	height:80vh;
}
form {
	margin-left:10%;
	width:100%;
	height:40%;
	margin-top:2%;
}
form input {
	width:60%;
	height:16%;
	margin-top:1%;
}
.ju {
	width:20%;
	height:60%;
	float:left;
}
.ta h4 {
	text-align:center;
	font-size:28px;
}
.ta {
	height:16%;
	width:100%;
	background:white;
	border: 10px solid #37474F;
	margin-top:18px;
}
.texs h2 {
	font-size:34px;
	color:white;
	padding-left:20px;
	padding-top:12px;
}
.zu {
	width:100%;
	height:88%;
}
.texs {
	width:100%;
	height:12%;
	background:#37474F;
}

.isilearning {
	width:100%;
	height:1000px;
	
}
.j a i {
	font-size:30px;
	padding-right:20px;
	color:#37474F;
}
.h h2 {
	font-size:24px;
	padding-top:10px;
	padding-left:20px;
	padding-bottom:10px;
	color:#424242;
	font-family:Calibri Light;
}
.h h4 {
	font-size:18px;
	padding-top:10px;
	padding-left:20px;
	padding-bottom:10px;
	color:#424242;
	font-family:Calibri Light;
}
.h p {
	font-size:16px;
	color:#424242;
	padding-left:40px;
	font-family:Calibri Light;
}
.h img {
	margin-left:36%;
	width:26%;
	height:40%;
}
.h {
	width:70%;
	height:100%;
	float:left;
	margin-left:18px;
	
}

.j{
	height:80%;
	float:left;
}
.j {
    width: 100%;
    height: 46%;
    overflow-y: auto;
	border-bottom:12px solid;
}

.j a {
    background:white;
    color:#424242;
    display: block;
    padding: 24px;
    text-decoration: none;
	font-size:20px;
}

.j a:hover {
    background-color: #EEEEEE;
}

.j a.active {
    background-color: #4CAF50;
    color: white;
}
.word {
	width:100%;
	height:20%;
	background:#eeeeee;
}
.siji {
	float:left;
	background:#EEEEEE;
}
.papat {
	background:#37474F;
	float:left;
}
.siji i {
	font-size:40;
	color:#37474F;
	text-align:center;
	padding-top:10%;
}
.siji p {
	font-size:20px;
	text-align:center;
	padding-top:2%;
	color:#757575;
}