.isilearning {
	width:100%;
	height:140%;
	
}
.ju {
	width:30%;
	height:80%;
	float:left;
}
.tess {
	width:80%;
	height:54%;
	margin-top:4%;
	margin-left:10%;
	
}
.h {
	width:70%;
	height:100%;
	float:left;
	
}
.h img {
	margin-left:10%;
	width:80%;
	height:60%;
}
.hijau {
	margin-top:5%;
	width:100%;
	height:2.9%;
}
.ta {
	height:14%;
	width:100%;
	background:white;
	border: 10px solid #37474F;
}
.j{
	height:80%;
	float:left;
	border-bottom: 12px solid #37474F;
}
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 600px;
}
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}