.tess p {
	font-size:18px;
	font-family:Calibri Light ;
	color:#212121;
}
.tess textarea {
	width:80%;'
}
.isilearning {
	width:100%;
	height:150%;
	
}
.tess {
	width:80%;
	height:76%;
	margin-top:4%;
	margin-left:10%;
	
}
