.conten {
	width:100%;
	height:100%;
	margin-top:40px;
	
}
.contain{
	width:100%;
	height:1500px;;
	background:white;
}

.texts input[type="text"]{
	width:100%; 
	height:110%;
}
@media screen and (max-width: 790px) {
	.texi p {
	font-size:14px;
}
	.texu p {
	font-size:14px;
}
.danusa p {
	font-size:14px;
}
 }

 .cimahi select {
	 background:#37474F;
	 color:white;
	 height:36px;
 }
 @media screen and (max-width: 570px) {
	.cimahi{
	clear:left;
	background:white;
	margin-left:30%;
	margin-top:11px;
	margin-bottom:20px;
}
.texts{
	width:60%;
	clear:left;
	margin-top:-6px;
}
 }
 
@media screen and (max-width: 480px) {
 .cimahi{
	clear:left;
	background:white;
	margin-left:20%;
	margin-top:11px;
	margin-bottom:20px;
}
.texts{
	width:60%;
	clear:left;
	margin-top:-6px;
}
.texi p {
	font-size:11px;
}
.danusa p {
	font-size:12px;
}
.texu p {
	font-size:12px;
}
.pagination a {
    color: black;
    float: left;
	font-size:10px;
    padding: 10px 16px;
    text-decoration: none;
	padding: 8px 12px;
}
.bagian li a {
	color:white;
	font-size:12px;
	line-height:100%;
} 
}
@media screen and (max-width: 320px) {
	.texi p {
	font-size:10px;
}
.danusa p {
	font-size:10px;
}
.texu p {
	font-size:10px;
}
	.pagination a {
    color: black;
    float: left;
	font-size:10px;
    padding: 10px 16px;
    text-decoration: none;
	padding: 6px 10px;
}
.bagian li a {
	color:white;
	font-size:12px;
	line-height:100%;
} 
}