body {
    background: red; 
    background: linear-gradient(to right, #B3E5FC , #AB47BC);
	font-family: Arial;
	background-image: url('../img/c.jpg');
	background-size:100%;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width:40%;
	margin-top:6%;
}

.tabcontent {
    display: none;
    padding: 6px 10px;
    border: 1px solid #ccc;
	 background-color: rgba(255, 255, 255,0.7);
    border-top: none;
	width:38%;
}
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
 button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

 button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.container {
    padding: 16px;
}
.tab button {
	margin:0;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px 40px;
    transition: 0.3s;
    font-size: 17px;
	width: 50%;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color:#37474F;
}

span.psw {
    float: right;
}

@media screen and (max-width: 1100px) {
	.tab {
    width:60%;
	margin-top:10%;
}
.tabcontent {
	width:58%;
}
body {
	background-image: url('../img/c.jpg');
	background-size:160%;
}
}


@media screen and (max-width: 720px) {
	.tab {
    width:70%;
	margin-top:10%;
}
.tabcontent {
	width:66%;
}
body {
	background-image: url('../img/c.jpg');
	background-size:230%;
}
}

@media screen and (max-width: 480px) {
.tab {
    width:90%;
	margin-top:10%;
}
.tabcontent {
	width:84%;
}
body {
	background-image: url('../img/c.jpg');
	background-size:380%;
}
}
@media screen and (max-width: 400px) {
	.tab {
    width:98%;
	margin-top:10%;
}
.tabcontent {
	width:95%;
}
}
