@media screen and (max-width: 1100px) {
	.isilearning {
	width:100%;
	height:980px;
	
}
.ta h4 {
	font-size:20px;
}
.j a i {
	font-size:26px;
	
}
.j a {
	font-size:18px;
}
.word {
	width:100%;
	height:150px;
	background:#eeeeee;
}
}
@media screen and (max-width: 1100px) {
	.isilearning {
	width:100%;
	height:1040px;
	
}
}
@media screen and (max-width: 770px) {
	.texs h2 {
	font-size:26px;
	
}
	.isilearning {
	width:100%;
	height:1180px;
	
}	
.zu {
	width:100%;
	height:88%;
}
}
@media screen and (max-width: 740px) {
	.zu {
	width:100%;
	height:80%;
}
}
@media screen and (max-width: 680px) {
	.zu {
	width:100%;
	height:84%;
}
.isilearning {
	width:100%;
	height:1200px;
	
}
.tess p {
	font-size:14px;
	
}
}
@media screen and (max-width: 600px) {
	.h h1 {
	font-size:26px;
	
}
.zu {
	width:100%;
	height:90%;
}
	.isilearning {
	width:100%;
	height:1260px;
	
}
.tess p {
	font-size:14px;
	
}
.ta h4 {
	font-size:16px;
}
.word {
	width:100%;
	height:120px;
	background:#eeeeee;
}
}
@media screen and (max-width: 550px) {
	.h h1 {
	font-size:26px;
	
}
.zu {
	width:100%;
	height:84%;
}
	.isilearning {
	width:100%;
	height:1260px;
	
}
.tess p {
	font-size:14px;
	
}
.ta h4 {
	font-size:16px;
}
.word {
	width:100%;
	height:120px;
	background:#eeeeee;
}
}


@media screen and (max-width: 500px) {
	.isilearning {
	width:100%;
	height:1240px;
	
}
	.texs h2 {
	font-size:26px;
	
}
.tess p {
	font-size:12px;
	
}
.word p {
	font-size:16px;
	
}
.word i {
	font-size:26px;
	
}
.word {
	width:100%;
	height:100px;
	background:#eeeeee;
}
.ta h4 {
	font-size:14px;
}
.h h1 {
	font-size:20px;
	
}
.j a i {
	font-size:20px;
	
}
.j a {
	font-size:12px;
}

.h img {
	margin-left:36%;
	width:26%;
	height:30%;
}
}
@media screen and (max-width: 400px) {
	.isilearning {
	width:100%;
	height:1340px;
	
}
.tess p {
	font-size:12px;
	
}
}
@media screen and (max-width: 360px) {
	.isilearning {
	width:100%;
	height:1300px;
	
}
.word {
	width:100%;
	height:80px;
	background:#eeeeee;
}
.word p {
	font-size:12px;
	
}
.word i {
	font-size:20px;
	
}
.texs h2 {
	font-size:20px;
	
}
.h h1 {
	font-size:18px;
	
}
.tess p {
	font-size:10px;
	
}

}