
/*responsife */

@media screen and (max-width: 1100px) {
	
	/*di bawah nav*/
	.tais {
		  color: #f2f2f2;
		  font-size:30px;
		  padding: 0px 12px;
		  position: absolute;
		  top:570px;
		  bottom: 8px;
		  width: 100%;
		  text-align: center;
		}
	/*section learning*/

.contain{
	width:100%;
	height:1000px;
	background:#EEEEEE;
	
}

.selesih {
	width:100%;
	height:40px;
	background:#eeeeee;
	
}
.texts h2 {
	font-size:26px;	
}
	

.conten {
	width:100%;
	height:40%;
	margin-top:40px;
	
}
.webPemula {
	float:left;
	width:40%;
	height:80%;
	background:white;
	margin-left:8%;
	
	
	border-radius:5px;
	margin-top:40px;
}

.tulisan h2 {
	color:white;
	font-size:120%;
	text-align:center;
	padding-top:1%;
	
}
.isian {
	width:100%;
	height:86%;
	
}

/*section event */
.textss h2 {
	padding:14px 0 0 24px;
	font-size:26px;	
}
.containn {
	width:100%;
	height:1000px;
	background:white;
}
.network {
	float:left;
	width:40%;
	height:80%;
	background:#EEEEEE;
	margin-left:8%;
	border-radius:5px;
	margin-top:40px;
}
.contenn {
	width:100%;
	height:38%;
	margin-top:40px;
	
}
.isiann {
	width:100%;
	height:84%;
	
}


/*section alasan */
.testi {
	background:white;
	width:100%;
	height:90%;
}
.testim {
	margin-top:50px;
	width:100%;
	height:250px;
}

.empat {
	width:26%;
	height:90%;
	float:left;
	margin-left:19%
}
.lima {
	width:26%;
	height:90%;
	margin-left:6%;
	float:left;
}
.enam {
	width:26%;
	height:90%;
	float:left;
	margin-left:19%
	
}
.tujuh {
	width:26%;
	height:90%;
	margin-left:6%;
	float:left;
	
}
/*section testimoni*/

.bagian {
	background:#EEEEEE;
	width:100%;
	height:120%;
}
.wada {
	width:100%;
	height:38%;
	margin-top:50px;
}
.delapan {
	width:26%;
	height:100%;
	float:left;
	margin-left:19%;
	background:white;
	border-radius:10px;
}
.sembilan {
	width:26%;
	height:100%;
	margin-left:6%;
	float:left;
	background:white;
	border-radius:10px;
}
.sepuluh {
	width:26%;
	height:100%;
	float:left;
	margin-left:19%;
	background:white;
	border-radius:10px;
	margin-top:4%;
}
.sepuluhnext {
	width:26%;
	height:100%;
	float:left;
	margin-left:6%;
	background:white;
	margin-top:4%;
}


/*footer*/

.logoo {
	height:100%;
	width:24%;
	float:left;
	margin-left:6%;
}
.logoa {
	height:100%;
	width:24%;
	float:left;
	margin-left:14%;
}
.logon {
	height:100%;
	width:24%;
	float:left;
	margin-left:4%;
}
.deskripsi h1 {
	padding-top:10%;
	font-size:36px;
	color:white;
}
.deskripsii p {
	font-size:12.8px;
	padding-left:4px;
	padding-top:4px;
	color:#EEEEEE;
	text-align:justify;
}
.clas {
	width:100%;
	height:20%;
	margin-top:40px;
	margin-left:10%;
}
.clak {
	width:96%;
	height:10%;
	margin-top:40%;
	
	
}
.bunder {
	float:left;
	border-radius:50%;
	width:12%;
	height:60%;
	background:white;
	margin-left:4%;
}
.bunder i {
	color:#37474F;
	font-size:20px;
	padding-top:26%;
	padding-left:2px;
}
.bund {
	float:left;
	border-radius:50%;
	width:12%;
	height:60%;
	background:white;
	margin-left:2%;
}
.bund i {
	color:#37474F;
	font-size:20px;
	padding-top:28%;
	padding-left:9px;
}
.clak img {
	width:20%;
	height:90%;
}
}


@media screen and (max-width: 960px) {
	.write p {
font-size:12px;
}
}

@media screen and (max-width: 780px) {
	
/*section testimoni*/

.bagian {
	background:#EEEEEE;
	width:100%;
	height:700px;
}
.wada {
	width:100%;
	height:38%;
	margin-top:50px;
}
.delapan {
	width:30%;
	height:100%;
	float:left;
	margin-left:17%;
	background:white;
	border-radius:10px;
}
.sembilan {
	width:30%;
	height:100%;
	margin-left:6%;
	float:left;
	background:white;
	border-radius:10px;
}
.sepuluh {
	width:30%;
	height:100%;
	float:left;
	margin-left:17%;
	background:white;
	border-radius:10px;
	margin-top:4%;
}
.sepuluhnext {
	width:30%;
	height:100%;
	float:left;
	margin-left:6%;
	background:white;
	margin-top:4%;
}}




@media screen and (max-width: 740px) {
	/*section learning*/

.contain{
	width:100%;
	height:1000px;
	background:#EEEEEE;
	
}

/*section event */
.containn {
	width:100%;
	height:1000px;
	background:white;
}

.testi {
	background:white;
	width:100%;
	height:700px;
}

/*section testimoni*/

.bagian {
	background:#EEEEEE;
	width:100%;
	height:1280px;
}
.wada {
	width:100%;
	height:21.6%;
	margin-top:50px;
}
.delapan {
	width:50%;
	height:100%;
	float:left;
	margin-left:25%;
	background:white;
	border-radius:10px;
}
.sembilan {
	width:50%;
	height:100%;
	margin-left:25%;
	float:left;
	background:white;
	border-radius:10px;
	margin-top:4%;
}
.sepuluh {
	width:50%;
	height:100%;
	float:left;
	margin-left:25%;
	background:white;
	border-radius:10px;
	margin-top:4%;
}
.sepuluhnext {
	width:50%;
	height:100%;
	float:left;
	margin-left:25%;
	background:white;
	margin-top:4%;
}


/*footer*/

.logoo {
	height:100%;
	width:30%;
	float:left;
	margin-left:6%;
}
.logoa {
	height:100%;
	width:24%;
	float:left;
	margin-left:8%;
}
.logon {
	height:100%;
	width:24%;
	float:left;
	margin-left:4%;
}
.deskripsi h1 {
	padding-top:10%;
	font-size:28px;
	color:white;
}
.deskripsii p {
	font-size:10px;
	padding-left:4px;
	color:#EEEEEE;
	text-align:justify;
}
.clas {
	width:100%;
	height:15%;
	margin-top:40px;
	margin-left:6px;
	
}
.clak {
	width:96%;
	height:10%;
	margin-top:40%;
	margin-left:0;
	
}
.bunder {
	float:left;
	border-radius:50%;
	width:14%;
	height:60%;
	background:white;
	margin-left:4%;
}
.bunder i {
	color:#37474F;
	font-size:20px;
	padding-top:22%;
	padding-left:1%;
}
.bund {
	float:left;
	border-radius:50%;
	width:14%;
	height:60%;
	background:white;
	margin-left:2%;
}


/* di bawah nav*/
.text h1  {
	text-align:center;
	padding-top:150px;
	color:white;
	font-size:30px;
	
}
.text p  {
	text-align:center;
	padding-top:40px;
	font-size:20px;
	color:white;
}
@media (max-width:700px){
.toggle {
display:block;
}
ul {
	width:100%;
	display:none;
	height:400px;
	
}
.login{
	width:100%
}
.login li a{
	background:#37474F;
	border-radius:8px;
		margin-left:42%;
}
.logo {
	width:0;
	height:0;
}

ul li{
	clear:right;
	display:block;
	margin: 0;
	width:100%;
	height:18%;
}
.active {
	display:block;
}
}
/*responsife */

@media screen and (max-width: 480px) {
/*section learning*/
	

.contain{
	width:100%;
	height:1000px;
	background:#EEEEEE;
	
}

.containn {
	width:100%;
	height:1000px;
	background:white;
}
.webPemula {
	float:left;
	width:90%;
	height:60%;
	background:white;
	margin-left:5%;
	border-radius:5px;
	margin-top:30px;
}
.network {
	float:left;
	width:90%;
	height:60%;
	background:#EEEEEE;
	margin-left:8%;
	border-radius:5px;
	margin-top:30px;
}

/*section alasan */

.empat p {
	font-size:10px;
	padding-top:20px;
	text-align:justify;
	color:#37474F;
}
.lima p {
	font-size:10px;
	padding-top:20px;
	text-align:justify;
	color:#37474F;
}

.enam p {
	font-size:10px;
	padding-top:20px;
	text-align:justify;
	color:#37474F;
}
.tujuh p {
	font-size:10px;
	padding-top:20px;
	text-align:justify;
	color:#37474F;
}


/*footer*/

.deskripsi h1 {
	padding-top:10%;
	font-size:20px;
	color:white;
}
.deskripsii p {
	font-size:8px;
	padding-left:4px;
	padding-top:0;
	color:#EEEEEE;
	text-align:justify;
}
.samp {
	width:100px;
}
.deskripsi {
	width:100%;
	height:30%;
}
.deskripsii{
	width:100%;
	height:60%;
}
.logoa a i {
	color: white;
	padding-top:60px;
	padding-right:6px;
	font-size:10px;
}

.clas {
	width:80%;
	height:10%;
	margin-top:60px;
	margin-left:40%;
}
.clak {
	width:0%;
	
}
.bunder i {
	
	font-size:0px;
	padding-top:28%;
}
.bund i {
	font-size:0px;
	padding-top:28%;
	
}
}
@media screen and (max-width: 360px) {
	.write p {
font-size:12px;
}

}
@media screen and (max-width: 320px) {
.write p {
font-size:10px;
}
.conten {

	margin-top:30px;
	
}
.webPemula {
	margin-top:30px;
}
.network {
	margin-top:30px;
}
.contenn {
	margin-top:30px;
	
}
.empat {
	height:70%;
}
.lima {
	height:70%;
	
}
.enam {
	height:70%;
	
}
.tujuh {
	height:70%;
	
}
.selesih {
	height:40px;
}
}