*{
	padding:0;
	margin:0;
	text-decoration:none;
	color:black;
	box-sizing: border-box;
}
header .hover  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: EEEEEE;
	height:60px;
	width:100%;
	box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.41);
	display:inline-block;
}

header .hover ul li {
   float:left;
}
.hover li:hover{
	background:white;
}

.hover li a, .dropbtn {
    color:#9E9E9E;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
	line-height:60px;
}
.toggle {
width:100%;
padding:10px 20px;
background:#EEEEEE;
text-align: right;
box-sizing:border-box;
color:white;
font-size:30px;
display:none;
}

.dropdown:hover .dropbtn {
    background-color: white;
}

.hover ul li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: EEEEEE;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #9E9E9E;
    padding: 0px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color:white}

.dropdown:hover .dropdown-content {
    display: block;
}
.logo {
	
	float:left;
	width:120px;
	height:100%;
}
.logo img {
	display:block;
	width:auto;
	height:90%;
	margin: 5px 0 0 20px; 
}
li a i {
	color:#37474F;
	padding-right:8px;

}
.login{
	display:inline-block;
	float:right;
}
.login li a{
	background:#37474F;
	margin-right:10px;
	border-radius:8px;
			
}
.logi {
	
	float:left;
	width:80px;
	height:6%;
}
.logi img {
	display:block;
	width:auto;
	height:90%;
}
body{
	background-color: #ECF0F1 !important;
	margin: auto;
	font-family:Calibri Light , sans-serif; margin:0;
}

nav{
	color: white;
	display: block;
	position: fixed;
	background-color: #242628;
	width: 100%;
}
.navbar-brand{
	margin-left: 10px;
	color: white;
	font-size: 12pt;
}

.heading{
	font-weight: bold;
	font-size: 28pt;
}

nav ul li {
	margin-left: 20px;
	display: block;
	float: left;
	display: inline-block;
}

nav ul li a {
	padding: 0px 10px;
	color: white;
	list-style-type: none;
	text-decoration: none;
}

nav ul li a:hover{
	color: grey;
	text-decoration: none;
}

.navbar-brand:hover{
	color: white;
}

/* THE BODY */

.container {
	margin-top: 10px;
	padding-top: 20px;
	max-width: 100%;
	border-radius:8px;
}
.row{
	padding: 0px 20px;
}

.col-8 .border{
	padding: 10px 20px;
	background-color: white;
	border: solid #ccc 0.5pt;
	border-radius: 4px;
	box-shadow: 3px 3px 10px 1px #ddd;
}

.row .col-8{
	padding: 25px 40px;
}
.item-1{
	width: 100%;
	display: block;
	border-bottom: solid #ccc 0.5pt;
}
.item-2{
	width: 100%;
	display: block;
}
.item-information{
	position: relative;
	bottom: 200px;
	right: 300px;
	float: right;
}
.item-img img	{
	display: block;
}
.border{
	margin-top: 10px;
}

.filter button{
	color: #34495E;
	background-color: #eee;
	padding: 7px 12px;
	border-radius: 4px;
	border: solid #ccc 0.5pt;
	cursor: pointer;
}

.filter button:hover{
	background-color: #ddd;
}

.pagination li {
	margin-top: 20px;
}

.item-information-2{
	position: relative;
	bottom: 200px;
	right: 400px;
	float: right;
}

.point a{
	color: #CF000F;
}



/* RESPONSIVE */
@media only screen and (max-width: 1530px){
	.item-information{
	position: relative;
	display: block;
	bottom: 200px;
	right: 200px;
	}
	.item-information-2{
	position: relative;
	display: block;
	bottom: 200px;
	right: 200px;
	}
}
@media only screen and (max-width: 1325px){
	.item-information{
	position: relative;
	display: block;
	bottom: 200px;
	right: 100px;
	}
	.item-information-2{
	position: relative;
	display: block;
	bottom: 200px;
	right: 100px;
	}
}
@media only screen and (max-width: 1155px){
	.item-information p{
			font-size: 9pt !important;
	}
	.item-information h4 a b{
			font-size: 12pt !important;
	}
	.item-information{
	position: static;
	float: none;
	}
	.item-information-2{
		position: static;
		float: none;
	}
	.filter button{
		margin-bottom: 20px;
	}
	.item-img img{
		width: 150px;
	}
	.col-3 h2{
		font-size: 16pt !important;
	} 
	.col-3 p{
		font-size: 10pt !important;
	} 
}

@media only screen and (max-width: 930px){
	.item-information{
		position: static;
		float: none;
	}
	.item-information-2{
		position: static;
		float: none;
	}
	.item-img img{
		width: 100px;
	}
}