.tissu{
	margin-top:4px;
	background-image:url("../images/sertifikat.png");
	background-size:cover;
	width:100%;
	height:80vh;
}
body{
	background-color: #eee !important;
	margin: auto;
	font-family: 'Lato', sans-serif;
}

nav{
	color: white;
	display: block;
	position: fixed;
	background-color: #242628;
	width: 100%;
}
.navbar-brand{
	margin-left: 10px;
	color: white;
	font-size: 12pt;
}

.heading{
	font-weight: bold;
	font-size: 28pt;
}

.container {
	margin-top: 30px;
	max-width: 100%;
	border-radius:8px;
}

nav ul li {
	margin-left: 20px;
	display: block;
	float: left;
	display: inline-block;
}

nav ul li a {
	padding: 0px 10px;
	color: white;
	list-style-type: none;
	text-decoration: none;
}

nav ul li a:hover{
	color: grey;
	text-decoration: none;
}

.navbar-brand:hover{
	color: white;
}

.col-12{
	border-right: 1pt dashed #eee;
	border-radius: 4px;
}

.moto {
	border-radius: 4px;
	width: 100%;
	height: 70px;
	background-color: #334351;
}
@media screen and (max-width: 995px){
	.cert{
		width: 400px;
	}
}
@media screen and (max-width: 770px){
	.cert{
		width: 200px;
	}
}