*{
	padding:0;
	margin:0;
	text-decoration:none;
	color:black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: EEEEEE;
	height:60px;
	width:100%;
	box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.41);
	display:inline-block;
}

ul li {
   float:left;
   background:#EEEEEE;
}
.hover li:hover{
	background:white;
}

li a, .dropbtn {
    color:black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
	line-height:60px;
}
.toggle {
width:100%;
padding:10px 20px;
background:#EEEEEE;
text-align: right;
box-sizing:border-box;
color:white;
font-size:30px;
display:none;
}

.dropdown:hover .dropbtn {
    background-color: white;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: EEEEEE;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #9E9E9E;
    padding: 0px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color:white}

.dropdown:hover .dropdown-content {
    display: block;
}
.logo {
	
	float:left;
	width:120px;
	height:100%;
}
.logo img {
	display:block;
	width:auto;
	height:90%;
	margin: 5px 0 0 20px; 
}
li a i {
	color:#37474F;
	padding-right:8px;

}
.login{
	display:inline-block;
	float:right;
}
.login li a{
	background:#37474F;
	margin-right:10px;
	border-radius:8px;
	color:white;
			
}
.logi {
	
	float:left;
	width:80px;
	height:6%;
}
.logi img {
	display:block;
	width:auto;
	height:90%;
}
/*section di bawah navigation */
* {box-sizing: border-box}
body {font-family:Calibri Light , sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*section learning*/
.contain{
	width:100%;
	height:570px;
	background:#EEEEEE;
	
}
.texts{
	width:180px;
	height:50px;
	margin:0 auto;
	border-bottom:1px solid;
}
.selesih {
	width:100%;
	height:40px;
	background:#eeeeee;
	
}
.texts h2 {
	padding:14px 0 0 30px;
	font-size:26px;	
}

.conten {
	width:100%;
	height:300px;
	margin-top:58px;
	
}
.webPemula {
	float:left;
	width:28%;
	height:90%;
	background:white;
	margin-left:4%;
	border-radius:5px;
}
.tulisan {
	width:100%;
	height:14%;
	background:#37474F;
	border-radius: 5px 5px 0px 0px;
	
}
.tulisan h2 {
	color:white;
	font-size:140%;
	text-align:center;
	padding-top:1%;
	
}
.isian {
	width:100%;
	height:86%;
	
}
.image{
	float:left;
	width:40%;
	height:100%;
	
}
.image img {
	width: 90%;
	height:80%;
	margin-top:12%;
	margin-left:5%;
}
.write {
	float:left;
	width:60%;
	height:80%;
	padding-top:4%;
}
.write p {
	font-size:14px;
}
.user {
	margin-top:10px;
}
.user p{
	padding-top:2px;
	padding-left:14px;
	color:#78909C;
	font-size:80%;
	
}

.user p i{
	font-size:80%;
	color:#78909C;
	padding-right:4px;
}


/*section event */
.textss {
	width:180px;
	height:50px;
	margin:0 auto;
	border-bottom:1px solid;
}
.textss h2 {
	padding:14px 0 0 10px;
	font-size:26px;	
}
.containn {
	width:100%;
	height:570px;;
	background:white;
}
.network {
	float:left;
	width:28%;
	height:80%;
	background:#EEEEEE;
	margin-left:4%;
	border-radius:5px;
}
.contenn {
	width:100%;
	height:64%;
	margin-top:40px;
	
}
.isiann {
	width:100%;
	height:84%;
	
}

/*section challenge */
.textt {
	width:180px;
	height:50px;
	margin:0 auto;
	border-bottom:1px solid;
}
.textt h2 {
	padding:14px 0 0 17px ;
	font-size:26px;	
}


/*section alasan */
.testi {
	background:white;
	width:100%;
	height:57%;
}
.testim {
	margin-top:50px;
	width:100%;
	height:250px;
}
.texti {
	width:190px;
	height:50px;
	margin: 0 auto;
	border-bottom: 1px solid;
}
.texti h2 {
	padding : 14px 0 0 0;
	padding-left:26px;
	font-size:26px;
}
.empat {
	width:16%;
	height:100%;
	float:left;
	margin-left:14.5%;
}
.lima {
	width:16%;
	height:100%;
	margin-left:2.5%;
	float:left;
}
.enam {
	width:16%;
	height:100%;
	float:left;
	margin-left:2.5%;
	
}
.tujuh {
	width:16%;
	height:100%;
	margin-left:2.5%;
	float:left;
	
}
.empat img {
	width:40%;
	height:auto;
	margin-left:30%;
}
.empat p {
	font-size:14px;
	padding-top:20px;
	text-align:justify;
	color:#37474F;
}
.lima img {
	width:40%;
	height:auto;
	margin-left:30%;
}
.lima p {
	font-size:14px;
	padding-top:20px;
	text-align:justify;
	color:#37474F;
}
.enam img {
	width:40%;
	height:auto;
	margin-left:30%;
}
.enam p {
	font-size:14px;
	padding-top:20px;
	text-align:justify;
	color:#37474F;
}
.tujuh img {
	width:40%;
	height:auto;
	margin-left:30%;
}
.tujuh p {
	font-size:14px;
	padding-top:20px;
	text-align:justify;
	color:#37474F;
}


/*section testimoni*/

.bagian {
	background:#EEEEEE;
	width:100%;
	height:470px;;
}
.wada {
	width:100%;
	height:70%;
	
}
.delapan {
	width:16%;
	height:100%;
	float:left;
	margin-left:14.5%;
	background:white;
	border-radius:10px;
}
.sembilan {
	width:16%;
	height:100%;
	margin-left:2.5%;
	float:left;
	background:white;
	border-radius:10px;
}
.sepuluh {
	width:16%;
	height:100%;
	float:left;
	margin-left:2.5%;
	background:white;
	border-radius:10px;
}
.sepuluhnext {
	width:16%;
	height:100%;
	float:left;
	margin-left:2.5%;
	background:white;
}
.d {
	width:100%;
	height:10%;
	background:#29B6F6;
	border-radius: 10px 10px 0px 0px;
}
.m {
	width:100%;
	height:10%;
	background:#EF6C00;
	border-radius: 10px 10px 0px 0px;
}
.s {
	width:100%;
	height:10%;
	background:#1565C0;
	border-radius: 10px 10px 0px 0px;
}
.p {
	width:100%;
	height:10%;
	background:#263238;
	border-radius: 10px 10px 0px 0px;
}
.la {
	width:100%;
	height:34%;
}
.e {
	width:40%;
	height:100%;
	border-radius:50%;
	background:#EEEEEE;
	margin : 2% 0 0 2%;
	float:left;
}
.le {
	float:left;
	width:50%;
	height:100%;
	padding:18% 0 0 4%;
}
.le p {
	font-size:18px;
	color:#37474F;
}
.l {
	width:92%;
	height:48%;
	margin: 4% 4% 0 4%;	
}
.l p {
	font-size:12px;
	color:#78909C;
	font-style:italic;
}


/*footer*/


.foote {
	width:100%;
	height:280px;
	background:#37474F;
}
.latar {
	width:100%;
	height:250px;
}
.latarr {
	width:100%;
	height:30px;
	background:#263238;
}
.logoo {
	height:100%;
	width:20%;
	float:left;
	margin-left:6%;
}
.logoa {
	height:100%;
	width:24%;
	float:left;
	margin-left:18%;
}
.logon {
	height:100%;
	width:24%;
	float:left;
	margin-left:4%;
}
.deskripsi h1 {
	padding-top:10%;
	font-size:40px;
	color:white;
}
.deskripsii p {
	font-size:14px;
	padding-left:4px;
	padding-top:4px;
	color:#EEEEEE;
	text-align:justify;
}
.deskripsi {
	width:100%;
	height:40%;
}
.deskripsii{
	width:100%;
	height:60%;
}
.logoa a i {
	color: white;
	padding-top:60px;
	padding-right:6px;
}
.logoa a {
	color:white;
}
.samp{
	width:200px;
	height:30px;
}
.clas {
	width:100%;
	height:20%;
	margin-top:40px;
	margin-left: 4%; 
}
.clak {
	width:84%;
	height:10%;
	margin-top:30%;
	
}
.bunder {
	float:left;
	border-radius:50%;
	width:9%;
	height:66%;
	background:white;
	margin-left:4%;
}
.bunder i {
	color:#37474F;
	font-size:20px;
	padding-top:28%;
	padding-left:7px;
}
.bund {
	float:left;
	border-radius:50%;
	width:9%;
	height:66%;
	background:white;
	margin-left:2%;
}
.bund i {
	color:#37474F;
	font-size:20px;
	padding-top:28%;
	padding-left:9px;
}
.clak img {
	width:20%;
	height:90%;
}

